# directories
alias home='cd ~'
alias ..='cd ..'
alias ...='cd ../..'
alias back='cd -'
alias root='cd /'
alias repos='cd ~/source/repos'

# ls
alias ls='eza --icons --git --color=always --group-directories-first --tree --level=2 --no-permissions --no-user --no-time --all'

# read files
alias cat='bat --paging=never'

# git
alias ga='git add'
alias gc='git commit -m'
alias gf='git fetch'
alias gs='git status'
alias push='git push'
alias pull='git pull'

# programs
alias gg='lazygit'
alias dd='lazydocker'

alias k="kubectl"
alias ka="kubectl apply -f . -R"
alias kctx="kubectx"
alias kns="kubens"

alias tf="terraform"
alias tfa="terraform apply"
alias tfi="terraform init"
alias tfd="terraform destroy"
alias tfp="terraform plan"
alias tfs="terraform show"
alias tfv="terraform validate"
alias tfc="terraform console"


