# directories
alias home='cd ~'
alias ..='cd ..'
alias ...='cd ../..'
alias back='cd -'
alias root='cd /'
alias repos='cd ~/source/repos'

# ls
alias la='ls -A'
alias ll='ls -Alh'

# git
alias ga='git add'
alias gc='git commit -m'
alias gf='git fetch'
alias gs='git status'
alias push='git push'
alias pull='git pull'

# programs
alias gg='lazygit'
alias dd='lazydocker'
alias zj='zellij'
alias dev='name="$(basename $(pwd))";zellij -l dev options --session-name "$name" --attach-to-session true'
